# Para desplegar igual al ejemplo que compartiste:
# VITE_APP_BASE_PATH=/iaslab/compu2/911/
# VITE_ROUTER_BASENAME=/iaslab/compu2/911
# VITE_API_BASE_URL=/iaslab/compu2/911-api

# Para correr local contra Spring Boot directo, puedes cambiarlo por:
VITE_APP_BASE_PATH=/
VITE_ROUTER_BASENAME=/
VITE_API_BASE_URL=http://localhost:8080/exercise

# Si el WAR queda con otro context path:
# VITE_API_BASE_URL=http://10.147.19.34:8080/exercise-0.0.1-SNAPSHOT
